a{
    font-size: 14px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h5{
    font-size:18px;
}
.bottom-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap:1rem;
}